{% extends 'Master.html' %}
{% block title %}
	<title>views</title>
{% endblock %}
{% block content   %}
    {% include 'navbar.html' %}
    {{ request.path }}
    {% if  object.content %}
     <p>{{ object.content }}</p>
        {% else %}
            <p>No product found</p>
    {% endif %}
 <p>{{ object.id }}</p>
    <h2>{{ object.title }}</h2>
    <p>{{ object.description }}</p>
    <p>{{ object.price }}</p>
    <p>{{ object.category }}</p>
    <p>{{ object.image }}</p>
    <p>{{ object.created_at }}</p>

{% endblock %}